@model DataLayer.Model.accmast

<div class="row mb-2" style="padding-left: 8px;">
    <h3>Account Master</h3>
</div>

<div>
    <div style="border-radius: 8px; margin-bottom: 15px; padding: .5rem .5rem; margin-top: 20px">
        <strong>Account No: </strong>@Model.oldacno<br>
        <strong>Name: </strong>@Model.name <br>
        <strong>Address: </strong> @($"{Model.addr1} {Model.addr2} {Model.addr3}")
        <strong>Status-: </strong> @Model.status <br>
    </div>
</div>

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="accno">Account No:</label>
                <input type="text" id="oldacno" name="oldacno" value="@Model.oldacno" class="form-control" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Account Holder Name:</label>
                <input type="text" id="name" name="name" value="@Model.name" class="form-control" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="acc_type">Account Type:</label>
                <input type="text" id="acc_sub_type" name="acc_sub_type" value="@Model.acc_sub_type" class="form-control" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="status">Status:</label>
                <input type="text" id="status" name="status" value="@Model.status" class="form-control" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="newacno">New Account Number:</label>
                <input type="text" id="newacno" name="newacno" value="@Model.newacno" class="form-control" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="open_date">Opening Date:</label>
                <input type="text" id="open_date" name="open_date" value="@Model.open_date" class="form-control" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="close_date">Closed Date:</label>
                <input type="date" id="close_date" name="close_date" value="@Model.close_date" class="form-control" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="custid">Customer ID:</label>
                <input type="text" id="custid" name="custid" value="@Model.custid" class="form-control" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="addrs1">Address 1:</label>
                <input type="text" id="addrs1" name="addrs1" value="@Model.accowner" class="form-control" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="addrs2">Address 2:</label>
                <input type="text" id="addrs2" name="addrs2" value="@Model.acc_desc" class="form-control" readonly>
            </div>
        </div>
    </div>
</form>
