
@model Tuple<DataLayer.Model.AccountModel, IEnumerable<DataLayer.Model.TxnHistory>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />



<form style="padding: .5rem .5rem" height: 53px; border-radius: 8px;" method="post" action="@Url.Action("GetAccount", "DashBoard")">
    <div class="row mb-2" style="padding-left: 8px;">
        <h3>Account Statement</h3>
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <label for="account-no">Account Number:</label>
            <input type="text" value="@Model.Item1.accmast.accno" class="form-control" id="accno" name="accno" required>
        </div>
        <div class="form-group col-md-2">
            <label class="ml-2" for="start-date">Start Date:</label>

            <input type="date" value="@Model.Item1.accmast.from_Date?.ToString("yyyy-MM-dd")" class="form-control" id="startDate" name="startDate" required>
        </div>
        <div class="form-group col-md-2">
            <label class="ml-2" for="end-date">End Date:</label>
            <input type="date" value="@Model.Item1.accmast.to_Date?.ToString("yyyy-MM-dd")" class="form-control" id="endDate" name="endDate" required>
        </div>
        <div class="form-group col-md-2"><input class="ml-2 btn btn-primary" type="submit" style="margin-top: 32px;" value="Submit"></div>
    </div>
</form>

<div>
</div>
<div style="    margin-top: -64px;
    display: flex;
    float: right;
    margin-right: 144px;">
    <form method="get" action="@Url.Action("DownloadPdf", "DashBoard")">
        <input type="hidden" id="accno" name="accno" value="@Model.Item1.accmast.accno">
        <input type="hidden" id="startDate" name="startDate" value="@Model.Item1.accmast.from_Date?.ToString("yyyy-MM-dd")">
        <input type="hidden" id="endDate" name="endDate" value="@Model.Item1.accmast.to_Date?.ToString("yyyy-MM-dd")">
        <button type="submit" class="btn btn-secondary">Print</button>
    </form>
</div>
<div>
    <div style="border-radius: 8px; margin-bottom: 15px; padding: .5rem .5rem; margin-top: 20px">
        <strong>Account No: </strong>@Model.Item2.FirstOrDefault()?.newacno<br>
        <strong>Name: </strong>@Model.Item2.FirstOrDefault()?.cname <br>
        <strong>Address: </strong> @(Model.Item2.FirstOrDefault()?.addr1 + " " + @Model.Item2.FirstOrDefault()?.addr2 + " " + @Model.Item2.FirstOrDefault()?.addr3) <br>
        <div class style="position:absolute;float:right;right:9vw;top:234px">

            <strong>Scheme Code-: </strong> @Model.Item2.FirstOrDefault()?.proddesc <br>
            <strong>Old Account Number-: </strong> @Model.Item2.FirstOrDefault()?.foracid <br>
            <strong>Status: </strong> @Model.Item2.FirstOrDefault()?.accstatus <br>
        </div>
    </div>
</div>

<div>
    <table id="Txn-History-table" class="styled-table">
        <thead>
            <tr>

                <th>Txn Date</th>
                <th>Description</th>
                <th>Cheque Number</th>
                <th>Withdraw</th>
                <th>Deposit</th>
                <th>Balance</th>
                <th>Balance Type</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.Item2)
            {
                <tr style="background: #ffff0000">

                    <td>@r.txndate.ToString("dd-MM-yyyy")</td>
                    <td>@r.txn_desc</td>
                    <td>@r.chq_no</td>
                    <td>@r.tot_cr</td>
                    <td>@r.tot_dr</td>
                    <td>@r.balance</td>
                    <td>@r.baltype</td>


                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Txn-History-table').DataTable({
                "paging": true,
                "searching": false,
                "info": false,
                "aaSorting": []

            });
        });
    </script>
}
