@model DataLayer.Model.AccountModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />

<form style="padding: .5rem .5rem" height: 53px; border-radius: 8px;" method="post" action="@Url.Action("GetAccount", "DashBoard")">
    <div class="row mb-2" style="padding-left: 8px;">
        <h3>Account Statement</h3>
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <label for="account-no">Account Number:</label>
            <input type="text" value="@Model.accmast.accno" class="form-control" id="accno" name="accno" required>
        </div>
        <div class="form-group col-md-2">
            <label class="ml-2" for="start-date">Start Date:</label>

            <input type="date" value="@Model.accmast.from_Date?.ToString("yyyy-MM-dd")" class="form-control" id="startDate" name="startDate" required>
        </div>
        <div class="form-group col-md-2">
            <label class="ml-2" for="end-date">End Date:</label>
            <input type="date" value="@Model.accmast.to_Date?.ToString("yyyy-MM-dd")" class="form-control" id="endDate" name="endDate" required>
        </div>
        <div class="form-group col-md-2"><input class="ml-2 btn btn-primary" type="submit" style="margin-top: 32px;" value="Submit"></div>
    </div>
</form>

<div>
</div>

<div>
    @foreach (var r in Model.Accmast)
    {
        <div style="border-radius: 8px; margin-bottom: 15px; padding: .5rem .5rem">
            <strong>Account No:</strong> @r.accno <br>
            <strong>Name:</strong> @r.cname <br>
            <strong>Address:</strong> @r.addr1 <br>
            <div class style="position:absolute;float:right;right:9vw;top:218px">
                <strong>Bank Name:</strong> @r.bankname<br>
                <strong>Opening Balance:</strong> @r.openingbalance <br>
                <strong>Closing Balance:</strong> @r.closingbalance <br>
            </div>
        </div>
    }
</div>

<div>
    <table id="Txn-History-table" class="styled-table">
        <thead>
            <tr>
                <th>SR No</th>
                <th>Txn Date</th>
                <th>Txn Details</th>
                <th>Bank Name</th>
                <th>Bank</th>
                <th>Bank Address</th>
                <th>Balance Type</th>
                <th>Opening Balance</th>
                <th>Closing Balance</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.Accmast)
            {
                <tr style="background: #ffff0000">
                    <td>@r.id</td>
                    <td>@r.txn_desc</td>
                    <td>@r.bankname</td>
                    <td>@r.bank</td>
                    <td>@r.br_addr1</td>
                    <td>@r.baltype</td>
                    <td>@r.openingbalance</td>
                    <td>@r.closingbalance</td>
                 
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Txn-History-table').DataTable({
                "paging": false,
                "searching": false,
                "info": false
            });
        });
    </script>
}
